.socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 56px 64px;

  &__link {
    padding: 0;
    width: 48px;
    height: 48px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(16, 122, 202, 0.15);
  }
}